<div id="Loginmilieu" style="float: left; background-color: rgba(153,255,255, 0.6);height: 250px; width: 700px;margin-left: 25%; ">
    <form id="Login" action="/Home/Login1" method="post">
        <p>Welcome to MACCABI PHARM</p>
        <p style="font-size: 60%;text-align: center ">"Please enter your login credentials "</p>

        <input type="text" class="button" name="ID" placeholder="ID"><br />
        <input type="password" class="button" name="password" placeholder="Password"><br />
        <input type="submit" class="button" value="Login">
    </form>
</div>