<div id="Registermilieu" style="float: left; background-color: rgba(153,255,255, 0.6);height: 450px; width: 700px;margin-left: 25%; ">
    <form id="Register" action="/Home/CreateUser" method="post">
        <p>Welcome to MACCABI PHARM</p>
        <p style="font-size: 60%;text-align: center ">Personal Information</p>
        <input type="text" class="button" name="ID1" placeholder="ID"> <br>
        <input type="text" class="button" name="Name" placeholder="Name"> <br>
        <input type="password" class="button" name="password1" placeholder="Password"> <br>
        <input type="password" class="button" name="password2" placeholder="Confirm Password"> <br>
        <select name="Job" class="button" style="width:180px;">
            <option value="Doctor">Doctor</option>
            <option value="Pharma">Pharma</option>
        </select>
        <br><br />
        <input type="submit" class="button" value="Create Account" style="width:180px;">
    </form>
</div>